<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
    Yeah, I can't help you. My Rails knowledge, and Ruby for that matter, is lacking.<br>
    But you can check out <a href="www.railstutorial.org#help">Rails Tutorial</a>.
</p>
