<div class="center jumbotron">

<h1>
  Sample App
</h1>

<h2>
  This is the homepage for my Sample App. <br>
  <a href="http://www.twitter.com/kverdone">My Twitter</a>
</h2>

<%= link_to "Sign Up", '#', class: "btn btn-lg btn-primary" %>

</div>


<%= link_to image_tag("rails.png", alt: "Rails logo"), 
  "http://rubyonrails.org" %>